<label for="content_settings_tags">Visa nyheter märkta med nyckelord</label>
<p class="form_help">Separera flera nyckelord med mellanslag</p>
<%= text_field_tag "content[new_settings][tags]", content.settings.value_for(:tags) %>
<label for="content_settings_display_count">Antal nyheter att visa</label>
<%= text_field_tag "content[new_settings][display_count]", content.settings.value_for(:display_count) %>