<% @page_class = 'A' -%>
<div id="content_header">
  <h1>Formul채r</h1>
</div>
<div id="container">
  <div id="content">
    <div id="ca">
      <h2 class="label">Nytt formul채r</h1>
      <div class="inner">
        <% form_for :registration_form, :url => admin_registration_forms_path do |f| %>
          <%= render :partial => 'form', :locals => {:f => f} %>
          <div class="confirm">
            <input type="submit" value="L채gg till formul채ret">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', 'porthos/safari_search', :cache => 'admin' %>
