<% @page_id = 'sessions-forgot-password' -%>
 
<h1>Skapa nytt lösenord</h1>
<% form_tag send_new_password_user_sessions_path, :method => 'get' do -%>
  <span class="container">
    <label for="email">Din e-post</label>
    <%= text_field_tag 'email' %>
  </span>
  <div class="submit"><%= submit_tag 'Skicka nytt lösenord' %></div>
<% end -%>