<h1>Ändra</h1>
<div class="column column1">
  <div class="inner">
    <% form_for :asset_usage, :url => admin_asset_usage_path(@asset_usage), :html => { :method => :put } do |f| %>
      <label for="asset_usage_gravity">Var i bilden ska beskärningen utgå ifrån?</label>
      <%= f.select :gravity, [["Övre delen", 'n'], ['Mitten', 'c'], ['Undre delen', 's']] %>
      <div class="submit absolute">
        <%= submit_tag 'Spara', :class => 'commit' %> eller <%= link_to "avbryt", previous_view_path(admin_page_path(@page)), :class => 'cancel' %>
      </div>
    <% end %>
  </div>
</div>
