/**** COLORS

#222
  - H2 color
#333
  - Dark links
  - Text color
#444
  - top_wrapper_background
#ddd
  - wrapper_background
  - General borders
#eee
  - H1 background
  - UL border-bottom
#bbb
  - nav_link & nav_text color
#aaa
  - H1 breadcrumb
#fdfdfd
  - Content background
#fafafa
  - H2 background
#def (blue)
  - Controls background
#bcd (blue-gray)
  - Sub-controls background
#49d (blue)
  - H1
  - Link
#ffffcd (yellow)
  - Notification/alert background
#d2b484 (brown)
  - Notification/alert border
#a5683b
  - Notification/alert text color
#cf9 (green)
  - Submit background 
#b4e187 (green)
  - Submit border */


/**** NEUTRALIZE STYLING */

html {overflow-y:scroll;}

html,
body,
form,
fieldset {
  margin:0;
  padding:0;
  font:100%/120% Arial, Verdana, Helvetica, sans-serif; }
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
ol,
dl,
address {
  margin:0;
  padding:0; }


/**** SETUP */

body {
  font-size:85%;
  line-height:1.4;
  color:#333;
  background:#ddd; }

a:link,
a:visited {color:#49d;}
a:hover {text-decoration:none;}
a:active {color:#f09;}
a:focus {outline:none;}

ul,
ul ul {list-style:none;}
/*  ul.list li {
    margin-left:10px;
    padding-left:15px;
    background:transparent url(/graphics/porthos/li_dot.png) 0 7px no-repeat; }
  ul.list ul li {
    margin-left:10px;
    padding-left:15px;
    background:transparent url(/graphics/porthos/li_child_dot.png) 0 0 no-repeat; }*/


/**** STRUCTURE */

/**** ** NAVIGATION */

#top_wrapper {
  padding:8px 20px 0 20px;
  background:#444 url(/graphics/porthos/top_wrapper_bg.gif) 0 100% repeat-x; }
  #user_nav {
    float:right;
    color:#bbb; }
    #user_nav a,
    #nav a {
      color:#bbb;
      text-decoration:none; }
      #user_nav a:hover,
      #nav a:hover {text-decoration:underline;}
        #user_nav a.current,
        #nav a.current {
          color:#fff;
          font-weight:bold;
          text-decoration:none; }
  #nav,
  #main_nav {}
    #nav li,
    #main_nav li {float:left;}
    #nav li {padding:0 5px 8px 10px;}
    #main_nav li {margin:0 5px 0 0;}
      #main_nav li a {
        display:block;
        padding:7px 10px;
        color:#fff;
        font-size:1.1em;
        text-decoration:none;
        background:#222; }
        #main_nav li a:hover {background:#111;}
      
      #main_nav li a.current {
        color:#333;
        font-weight:bold;
        background:#eee url(/graphics/porthos/main_nav_li_current_bg.gif) 0 0 repeat-x; }


/**** ** CONTENT */

#content_header {
  position:relative;
  height:34px;
  padding:18px 0 20px 30px;
  background:#eee url(/graphics/porthos/content_header_border.gif) 0 100% repeat-x; }
  #content_header h1 {
    font-size:1.8em;
    color:#49d; }
  #content_header a {
    font-weight:bold;
    color:#aaa;
    text-decoration:none; }
    #content_header a:hover {text-decoration:underline;}

#wrapper {}

  #container {
    padding:0 20px;
    background:transparent url(/graphics/porthos/container_bg.gif) 100% 0 repeat-y; }
    
    #content { background:#fdfdfd; }
    .AB #content { background:#fdfdfd url(/graphics/porthos/column_divider_right.gif) 75% 0 repeat-y; }
      .AB #ca { 
        width: 75%; 
        float:left; }
        .AB #ca2 { margin:10px; }
        #ca h2.label {}
      .AB #cb { 
        float:right;
        width:25%;
        overflow:hidden; } 

    .A #content .inner {margin:0 10px 10px 10px;}
    #pages.A #content .inner {margin:0;}

        
    .AxB #content { background:#fdfdfd url(/graphics/porthos/column_divider_left.gif) 20% 0 repeat-y; }
      .AxB #ca { 
        width:20%;
        float:left; } 
      .AxB #cb { 
        float:right;
        width:80%; }
        .AxB #cb .inner {margin-left:4px;}
    
  #footer {
    height:20px;
    margin:0 13px -20px 20px;
    background:transparent url(/graphics/porthos/footer_bg.gif) 100% 0 repeat-x; }