/**** NODES */
#root {
  position:relative;
  margin:0 3px 0 0;
  padding-left:0; }
  #root .name {
    padding-left:29px;
    color:#000; }
#nodes, #nodes ul{
  margin:0;
  padding:0;
  list-style:none; }
.AB #nodes {margin-right:3px;}
  #nodes li {
    margin:0;
    padding:0;
    line-height:1.2; }
    #nodes li > div {
      position:relative;
      display:block;
      z-index:20;
      margin:0;
      padding:10px 10px 10px 29px;
      background:#fdfdfd;
      border-bottom:1px solid #ddd; }
      #nodes .toggle_handle {
        position:absolute;
        top:11px;
        left:10px;
        width:14px;
        height:14px;
        padding:0;
        text-indent:-9999px;
        background:transparent url(/graphics/porthos/icons/show.gif) 0 0 no-repeat; }
      #nodes .toggle_handle.active {background:transparent url(/graphics/porthos/icons/hide.gif) 0 0 no-repeat;}
      #nodes .name { padding-left:19px; }
      #nodes .name.layout1 { background:transparent url(/graphics/porthos/icons/14_layout1.gif) 0 0 no-repeat; }
      #nodes .name.layout3 { background:transparent url(/graphics/porthos/icons/14_layout3.gif) 0 0 no-repeat; }
      #nodes .hidden .name { color:#888; }
      #nodes .inactive .name {
        color:#888;
        text-decoration:line-through; }
      #nodes .info {
        color:#888;
        font-size:.8em; }
      #nodes li ul.placeholder {margin-left:29px;}
      
        #nodes li li ul.placeholder {margin-left:48px;}
        #nodes li li > div {
          background:#f7f7f7;
          padding-left:48px; }
        #nodes li li:first-child > div {
          background-image: url(/graphics/porthos/li_li_dropshadow.gif);
          background-position: 0 0;
          background-repeat: repeat-x; }
          #nodes li li > div .toggle_handle {left:29px;}
        
          #nodes li li li ul.placeholder {margin-left:67px;}
          #nodes li li li > div {
            background:#eee;
            padding-left:67px; }
          #nodes li li li:first-child > div {
            background-image: url(/graphics/porthos/li_li_li_dropshadow.gif);
            background-position: 0 0;
            background-repeat: repeat-x; }
            #nodes li li li > div .toggle_handle {left:48px;}

            #nodes li li li li ul.placeholder {margin-left:86px;}
            #nodes li li li li > div {
              background:#e2e2e2;
              padding-left:86px;
              border-color:#d2d2d2; }
            #nodes li li li li:first-child > div {background-image:none;}
              #nodes li li li li > div .toggle_handle {left:67px;}

              #nodes li li li li li ul.placeholder {margin-left:105px;}
              #nodes li li li li li > div {padding-left:105px;}
                #nodes li li li li li > div .toggle_handle {left:86px;}

                  #nodes li li li li li ul.placeholder {margin-left:124px;}
                  #nodes li li li li li li > div {padding-left:124px;}
                    #nodes li li li li li li > div .toggle_handle {left:105px;}
                    
    #nodes li .inactive {}
    #nodes .tools,
    #root .tools {
      font-size:.8em;
      line-height:1;
      display:none; }
      #nodes .tools a,
      #root .tools a {
        font-weight:normal;
        margin-right:5px; }
      #nodes .tools .button_to input,
      #root .tools .button_to input { margin-bottom:-5px; }
    #root:hover .tools,
    #nodes:not(.sorting) li > div:hover > .tools {
      display:block;
      position:absolute;
      top:10px;
      right:10px;
      line-height:1.2; }
    #root:hover .tools {top:14px;}
    #root:hover,
    #nodes:not(.sorting) li > div:hover { background:#ccff99  url(/graphics/porthos/green_dropshadow.gif) 0 0 repeat-x !important; }
    
    #nodes.sorting li:hover {cursor:pointer;}
      #nodes.sorting li > div {border-top:1px solid #ddd; }
      #nodes.sorting li .toggle_handle {display:none;}

    #nodes ul.placeholder {display:none;}
    #nodes.sorting ul.placeholder {
      display:block;
      background:#c8c8c8;
      min-height:17px; }
    #nodes.sorting ul.placeholder.hover {background:green;}


/**** NAVIGATION FOR CONTENT */
  body#contents #nav #n-content a,
  body#page_layouts #nav #n-content a,
  body#textfields #nav #n-content a,
  body#content_modules #nav #n-content a,
  body#registration_forms #nav #n-content a,
  body#page_collections #nav #n-content a {
      color:#fff;
      font-weight:bold;
      text-decoration:none; }
      
    body#contents #n-nodes a,
    body#page_layouts #n-page_layouts a,
    body#textfields #n-textfields a,
    body#content_modules #n-modules a,
    body#registration_forms #n-forms a,
    body#comments #n-comments a,
    body#redirects #n-redirects a,
    #main_nav .current a,
    #main_nav .current a:hover {
      color:#333;
      font-weight:bold;
      background:#eee url(/graphics/porthos/main_nav_li_current_bg.gif) 0 0 repeat-x; }