/**** ACTION DIALOGS */

.action_dialog_background {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity:.8;
  z-index:1100; }
.action_dialog_container {
  position:absolute;
  top:0;
  left:50%;
  margin:55px 0 0 -425px;
  width:850px;
  min-height:200px;
  z-index:1101;
  border:8px solid #ddd;
  background:#fdfdfd; }
  .action_dialog_container #main_cancel {
    background:transparent url(/graphics/porthos/icons/close.png) 0 0 no-repeat;
    width:22px;
    height:22px;
    text-indent:-9999px;
    position:absolute;
    top:-20px;
    left:-20px;
    z-index:1105;
    cursor:pointer; }
  .action_dialog_container .dialog_content {}
  .action_dialog_container .load_notice {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    opacity:.7;
    background:#000;
    z-index:1110; }
    .action_dialog_container .load_notice img {
      position:absolute;
      left:50%;
      top:50%;
      margin-top:-43px;
      margin-left:-34px;
      z-index:1111; }
    .action_dialog_container .column {
      float:left;
      width:65%; }
      .action_dialog_container .inner {padding:10px;}
    .action_dialog_container .column2 {
      float:left;
      width:35%;
      background:transparent url(/graphics/porthos/column_divider_right.gif) 0 0 repeat-y; }
      .action_dialog_container .column2 .inner {padding:0 0 10px 4px;}
    .action_dialog_container h1 {
      margin:10px 10px 0 10px;
      padding:0 0 5px 0;
      border-bottom:1px dotted #ddd;
      font-size:1.4em;
      color:#49d; }
      .action_dialog_container h1 .query {
        color:#333;
        text-transform:uppercase; }
      .action_dialog_container h1 .info {
        font-weight:normal;
        font-size:12px;
        color:#777; }
        .action_dialog_container h1 .info a {font-weight:bold;}
      .action_dialog_container h1 .controls {
        position:absolute;
        top:0;
        right:0;
        display:inline;
        background:transparent; }
    .action_dialog_container ul.assets {
      list-style:none;
      margin:0; }
      .action_dialog_container ul.assets li {
        position:relative;
        float:left;
        margin:0 5px 5px 0; 
        height: 87px;}
      .action_dialog_container ul.assets.sorting li:hover { cursor:pointer; }
        .action_dialog_container ul.assets li .button_to {
          position:absolute;
          top:5px;
          right:5px;
          display:none; }
        .action_dialog_container ul.assets:not(.sorting) li:hover .button_to {display:block;}
        .action_dialog_container ul.assets .click_proxy {
          display:block;
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%; }
        .action_dialog_container ul.assets .click_proxy:hover {cursor:pointer;}
        .action_dialog_container ul.assets .meta {
          visibility:hidden;
          position:absolute;
          top:0;
          background:#000;
          opacity:0.85;
          color:#fff;
          min-height:80px;
          z-index:10000; }
          .wym_dialog .action_dialog_container ul.assets .meta { margin-left: 75px;}
        .action_dialog_container ul.assets li.asset.active .meta {visibility:visible;}
          .action_dialog_container ul.assets .meta span:not(.value) {
            margin:0 1em .2em 1em;
            display:block;
            font-weight:bold;
            white-space:nowrap; }
          .action_dialog_container ul.assets .meta span.title {margin-top:.5em;}
          .action_dialog_container ul.assets .meta span.value {font-weight:normal;}
    .action_dialog_container ul.assets.grid.small li {
      width:80px;
      height:80px; }
    .action_dialog_container ul.assets.grid.large li {
      width:150px;
      height:150px;
      background:#eee; }
      .action_dialog_container ul.assets.grid.large li img {margin:10px;}
      .action_dialog_container ul.assets.grid.large .meta {min-height:150px;}
      
    .action_dialog_container .pagination {
      text-align:center; 
      font-size: .8em; }
      .action_dialog_container .pagination a { padding: 0.4em 0.55em; }

    .action_dialog_container #assets h1 {margin-bottom: 10px;}
      .action_dialog_container #assets h1 .controls {padding: 0;}
        .action_dialog_container .search_assets input {padding: 2px;}
        .action_dialog_container .search_assets .query {width: 70%;}
        .action_dialog_container .search_assets input[type="submit"] {font-size: .6em;}
    
    .action_dialog_container .column form {
      display:block;
      margin:0; }

      .action_dialog_container .submit {
        clear:both;
        margin:0 -8px -8px -8px;
        padding:10px;
        border:8px solid #b4e187;
        border-top:none;
        background:#cf9; }
        .action_dialog_container .submit a {font-weight:bold;}
        .submit.absolute {
          position:absolute;
          bottom:0;
          left:0;
          width:830px; }
        
        .action_dialog_container .graphic.size {width:30%;}
        .action_dialog_container .graphic.color {width:70%;}
          .action_dialog_container .graphic.color label {padding:10px;}
    .action_dialog_container p.form_help {
      font-size: 12px;
      color:#777;}

/* Shared textfields */

.action_dialog_container form .shared {
  margin:10px; }
  .action_dialog_container form .shared #textfield_title { margin-bottom:15px; }
  .action_dialog_container form .shared textarea { padding:7px 10px; }
  .action_dialog_container form .shared p.info { margin:5px; }

 /* WYMEDITOR Link dialog */   
body.wym_dialog {background:#fdfdfd;}
  body.wym_dialog .action_dialog_container {
    width:750px;
    margin:55px auto;
    position:relative;
    top:0;
    left:0; }
    body.wym_dialog.wym_dialog_link .dialog_content {padding-bottom:100px;}
    body.wym_dialog.wym_dialog_link .dialog_content > .column1 {width:34%;}
    body.wym_dialog.wym_dialog_link .dialog_content > .column2 {width:65%;}
    body.wym_dialog.wym_dialog_link .dialog_content > .column1 input[type=text] {width:98%;}
    body.wym_dialog_link .tabs {
      margin-top:-1.5em;}
      body.wym_dialog_link .tabs li {
        display:inline;
        padding-right:10px; }
        body.wym_dialog_link .tabs .current {
          font-weight:bold; }
    body.wym_dialog_link #navigation {
      height:320px;
      overflow-y:scroll; }
      body.wym_dialog_link #navigation #nodes li > div:hover {
        background:transparent !important;
        cursor:pointer; }
        body.wym_dialog_link #navigation li > div:hover .tools {
          display:none; }
    body.wym_dialog_link #assets { }
      body.wym_dialog_link #assets li:hover { cursor:pointer; }
      body.wym_dialog_link #assets .column {
        float:none;
        width:auto;
        background-image:none; }
      body.wym_dialog_link #assets .column .inner {position:relative;}
      body.wym_dialog_link #assets .column2,
      body.wym_dialog_link #assets h1 {
        position:relative;  }
        body.wym_dialog_link #assets h1 .info {display:none;}
    body.wym_dialog.wym_dialog_link div.submit.absolute {width:730px;}