<h1>Ny sidsamling</h1>
<% form_for :page_collection, :url => admin_page_collections_path, :html => { :id => 'page', :class => 'new' } do |f| %>
  <div class="column1">
    <div class="inner">
      <%= error_messages_for :page_collection %>
      <%= render :partial => 'form.html.erb', :locals => { :f => f } %>
    </div>
  </div>
  <div class="submit">
    <%= submit_tag "Lägg till sida", :class => 'commit button' %> eller <%= link_to "avbryt", previous_view_path(admin_nodes_path), :class => 'cancel' %>
  </div>
<% end %>