<% @page_title = "Ändra mätpunkten: #{@measure_point.public_id}" -%>
<style type="text/css">@import url(/stylesheets/porthos/new.css);</style>
<div id="workspace">
  <div id="c_wrap" class="layout_2">
    <div id="c_1">
      <div class="header">
        <h1>Ändra mätpunkten: <%= @measure_point.public_id.upcase %></h1>
      </div>
      <% form_for :measure_point, @measure_point, :url => admin_measure_point_path(@measure_point), :html => {:method => 'put'} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f, :campaign => @measure_point.campaign}  %>
        <div class="submit">
          <%= f.submit "Ändra mätpunkt" %> eller <%= link_to "Avbryt", previous_view_path(admin_campaigns_path) %>
        </div>
      <% end %>
    </div>
  </div>
</div>