<% @page_title = "Skapa en ny mätpunkt" -%>
<div id="workspace">
  <div id="c_wrap" class="layout_2">
    <div id="c_1">
      <div class="header">
        <h1>
          Skapa en ny mätpunkt
          <% if @campaign -%>
          under kampanjen <%= @campaign.name %>
          <% end -%>
        </h1>
      </div>
      <% form_for :measure_point, :url => admin_measure_points_path, :html => {:method => 'post'} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f}  %>
        <div class="submit">
          <%= f.submit "Skapa mätpunkten" %> eller <%= link_to "Avbryt", previous_view_path(admin_campaigns_path) %>
        </div>
      <% end %>
    </div>
  </div>
</div>