<ul class="multiple_choice">
<% User.allowed_restrictions.each do |name, restriction| -%>
  <li>
    <label for="content_restrictions_<%= name.to_s %>" class="contains-input">
      <%= check_box_tag "content[multiple_restrictions][]", name, content.restrictions.detect { |r| r.mapping_key.to_sym == name } %>
      <%= t(name, :scope => [:app, :restrictions]) %>
    </label>
  </li>
<% end -%>
</ul>