<% if content.resource %>
<div class="content_movie">
  <% if content.resource.asset %>
  <div class="thumbnail">
    <%= image_tag(display_image_path(:id => content.resource.asset.thumbnail, :size => 'c80x80', :format => content.resource.asset.thumbnail.extname)) %>
  </div>
  <% end %>
  <span class="title"><%= content.resource.title %></span>
  <div class="description"><%= content.resource.caption %></div>
  <span class="meta"><%= content.resource.copyright %></span>
</div>
<% else %>
<div class="error">
  Film saknas
</div>
<% end %>