<table class="campaigns">
  <tr>
    <th class="name">Kampanj</th>
    <th class="total_clicks">Klick</th>
    <th class="total_conversions">Avslut</th>
    <th class="total_roi">Frekvens</th>
  </tr>
<% campaigns.each do |campaign| %>
  <tr>
    <td class="name">
      <%= link_to campaign.name, admin_campaign_path(campaign) %> 
    </td>
    <% total_clicks = campaign.measure_points.sum(:num_clicks) -%>
    <% total_conversions = campaign.total_conversions -%>
    <td class="total_clicks"><%= total_clicks %></td>
    <td class="total_conversions"><%= total_conversions %></td>
    <td class="total_roi"><%= number_to_percentage((total_conversions.to_f / total_clicks.to_f)*100, :precision => 2) if total_clicks.to_i > 0 %></td>
  </tr>
<% end %>
</table>