<% @page_title = "Ändra kampanjen: #{@campaign.name}" -%>
<div id="workspace">
  <div id="c_wrap" class="layout_2">
    <div id="c_1">
      <div class="header">
        <h1>Ändra kampanjen: <% @campaign.name %></h1>
      </div>
      <% form_for :campaign, @campaign, :url => admin_campaign_path(@campaign), :html => {:method => 'put'} do |f| %>
      <%= render :partial => 'form', :locals => {:f => f}  %>
      <div class="submit">
        <%= f.submit "Spara kampanj" %> eller <%= link_to "Avbryt", previous_view_path(admin_campaigns_path), :onclick => "$('new-campaign').toggle();return false;" %>
      </div>
      <% end %>
    </div>
    <div id="c_2">
      <div class="inner">
        <h2>Ta bort kampanjen</h2>
        <p>Om du tar bort kampanjen kommer alla mätpunkter och omvandlingar att försvinna. Det går inte att ångra. Är det säkert att du vill ta bort kampanjen?
        <%= button_to "Ja, ta bort kampanjen", admin_campaign_path(@campaign), { :method => :delete, :class => "delete", :confirm => "Är du säker, detta går inte att ångra." } %>
      </div>
    </div>
  </div>
</div>