development:
  adapter: mysql
  database: unicef2_development
  username: root
  password:
  socket: /tmp/mysql.sock

test:
  adapter: mysql
  database: unicef2_test
  username: root
  password:
  socket: /tmp/mysql.sock

production:
  adapter: mysql
  database: unicef2_production
  username: root
  password: 
  socket: /tmp/mysql.sock
