development:
  adapter: mysql
  database: porthos_development
  username: root
  password:
  socket: /tmp/mysql.sock
  encoding: utf8

test:
  adapter: mysql
  database: porthos_test
  username: root
  password:
  socket: /tmp/mysql.sock
  encoding: utf8

production:
  adapter: mysql
  database: porthos_production
  username: root
  password: 
  socket: /tmp/mysql.sock
  encoding: utf8
