<% if registration.conversion || registration.come_from %>
<div id="measure" class="details">
  <h3>K채lla/m채tpunkt</h3>
  <% if registration.conversion and registration.conversion.measure_point -%>
    <span class="measure_point"><span class="type">M채tpunkt:</span> <%= link_to registration.conversion.measure_point.public_id.upcase, admin_campaign_path(:id => registration.conversion.measure_point.campaign.id, :anchor => "measure_point_#{registration.conversion.measure_point.id}") %></span>
  <% end -%>
  <% if registration.come_from -%>
    <span class="come_from">
      <span class="type">K채lla:</span>
      <span class="value"><%= registration.come_from %></span>
    </span>
  <% end -%>
</div>
<% end -%>
