<ul class="filter">
  <li><%= link_to "Översikt", admin_activities_path, :class => (type == nil ? 'current' : nil) %></li>
  <li><%= link_to "E-postadresser", admin_registration_activity_path(:type => 'newsletter_subscriptions'), :class => (type == NewsletterSubscription ? 'current' : nil) %></li>
  <li><%= link_to "Tips om sidor", admin_registration_activity_path(:type => 'page_tips'), :class => (type == PageTip ? 'current' : nil) %></li>
</ul>