<div id="came_from">
  <% if @registration and @registration.come_from.blank? %>
      <% form_for :registration, :url => registration_path(:id => @registration.public_id), :html => { :method => :put, :id => 'new_registration' } do |f| %>
      <h2>Hjälp oss bli bättre</h2>
      <%= error_messages_for :registration %>
      <fieldset>
        <legend>Hur hittade du hit?</legend>
        <label for="registration_come_from_tv" class="contains-input"><%= f.radio_button :come_from, 'APJ08' %> TV</label>
        <label for="registration_come_from_web_ad" class="contains-input"><%= f.radio_button :come_from, 'AWE08' %> Webbannons</label>
        <label for="registration_come_from_other" class="contains-input"><%= f.radio_button :come_from, 'AWE08' %> Annat</label>
      </fieldset>
      <div class="submit">
        <input type="image" src="/graphics/forms/submit/hjalp_till.gif" value="Hjälp till »">
      </div>
    <% end %>
  <% else %>
    <h2>Tack för hjälpen!</h2>
  <% end %>
</div>