<% @page_title = "Användare" -%>
<div id="workspace">
  <div class="header">
    <h1>Besökare</h1>
  </div>
  <div id="content">
    <ul id="userslist">
    <% @users.each do |user| -%>
      <li>
      <%= render :partial => 'user', :locals => {:user => user} %>
      </li>
    <% end -%>
    </ul>
    <%= will_paginate @users %>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>