<div class="label">Innehåll</div>
<ul>
  <li><%= link_to "Formulär", admin_registration_forms_path %></li>
  <li><%= link_to "Moduler", admin_content_modules_path %></li>
  <li><%= link_to "Layouter", admin_page_layouts_path %></li>
  <li><%= link_to "Vidarebefordringar", admin_redirects_path %></li>
</ul>